/* modules */
/* this mixin makes possible to add transition to a specific vendor, example: */
/* -webkit-transition: -webkit-transform 0.5s linear; */
@import url(bootstrap.min.css);
@import url(fonts.css);
*:focus {
  outline: 0; }

body {
    font-size:13px;
}

.button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding: 13px 32px;
  font-weight: 400;
  font-size: 17px;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  border: 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.88) 0px 1px 3px -1px;
  background-color: #4589E3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5da4ff), color-stop(100%, #417bff));
  background: -webkit-linear-gradient(#5da4ff, #417bff);
  background: -moz-linear-gradient(#5da4ff, #417bff);
  background: -o-linear-gradient(#5da4ff, #417bff);
  background: linear-gradient(#5da4ff, #417bff);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .button:hover {
    color: #fff;
    text-decoration: none; }
  .button:active {
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.29); }
  .button.button-small {
    padding: 10px 33px;
    border: 1px solid #68A2EE;
    font-size: 14px;
    font-weight: 500; }

.button-outline {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: #fff;
  padding: 12px 31px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .button-outline:hover {
    text-decoration: none;
    color: #ddd;
    border-color: #ddd; }

.button-clear {
  -webkit-font-smoothing: antialiased;
  border: 0;
  outline: none;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  background: #adb2bb;
  background: -webkit-linear-gradient(#ccd0d6, #adb2bb);
  background: -moz-linear-gradient(#ccd0d6, #adb2bb);
  background: -ms-linear-gradient(#ccd0d6, #adb2bb);
  background: -o-linear-gradient(#ccd0d6, #adb2bb);
  background: linear-gradient(#ccd0d6, #adb2bb); }
  .button-clear span {
    display: block;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 23px;
    height: 36px;
    line-height: 33px;
    border-radius: 4px;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 0 white;
    background: #eff1f4;
    background: -webkit-linear-gradient(#f7f8fa, #eff1f4);
    background: -moz-linear-gradient(#f7f8fa, #eff1f4);
    background: -ms-linear-gradient(#f7f8fa, #eff1f4);
    background: -o-linear-gradient(#f7f8fa, #eff1f4);
    background: linear-gradient(#f7f8fa, #eff1f4);
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    -ms-box-shadow: inset 0 1px 0 white;
    -o-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white; }
  .button-clear:hover {
    text-decoration: none; }
  .button-clear:active, .button-clear.active {
    background: #b5bac2;
    background: -webkit-linear-gradient(#b5bac2, #b5bac2);
    background: -moz-linear-gradient(#b5bac2, #b5bac2);
    background: -ms-linear-gradient(#b5bac2, #b5bac2);
    background: -o-linear-gradient(#b5bac2, #b5bac2);
    background: linear-gradient(#b5bac2, #b5bac2); }
    .button-clear:active span, .button-clear.active span {
      color: #444;
      background: #eff1f4;
      background: -webkit-linear-gradient(#e6e8eb, #eff1f4);
      background: -moz-linear-gradient(#e6e8eb, #eff1f4);
      background: -ms-linear-gradient(#e6e8eb, #eff1f4);
      background: -o-linear-gradient(#e6e8eb, #eff1f4);
      background: linear-gradient(#e6e8eb, #eff1f4);
      -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }

/* form controls */
input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
  input[type="text"].form-control::-webkit-input-placeholder,
  input[type="email"].form-control::-webkit-input-placeholder,
  input[type="password"].form-control::-webkit-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control:-moz-placeholder,
  input[type="email"].form-control:-moz-placeholder,
  input[type="password"].form-control:-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control::-moz-placeholder,
  input[type="email"].form-control::-moz-placeholder,
  input[type="password"].form-control::-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control:-ms-input-placeholder,
  input[type="email"].form-control:-ms-input-placeholder,
  input[type="password"].form-control:-ms-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  input[type="text"].form-control:focus,
  input[type="email"].form-control:focus,
  input[type="password"].form-control:focus {
    border-color: #98D2FF;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(166, 205, 236, 0.6); }

textarea.form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }
  textarea.form-control::-webkit-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control:-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control::-moz-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control:-ms-input-placeholder {
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px; }
  textarea.form-control:focus {
    border-color: #98D2FF;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(166, 205, 236, 0.6); }

/* vendor */
@media (min-width: 1200px) {
  .container {
    width: 970px; } }

@media (max-width: 640px) {
    .container {
        width: 620px; } }
a {
  color: #459CE7; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5585B3;
  border-color: #4477A3; }

.pagination > li > a,
.pagination > li > span {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }

/* config variables */
/* roboto font */
/* source sans pro */
/* lato */
/* merriweather */
/* layout */
a:focus, button:focus {
  outline: none; }

#footer {
  background: #414B5B;
  margin-top: 120px;
  padding-top: 47px;
  padding-bottom: 35px;
  -webkit-font-smoothing: antialiased; }
  #footer .copyright a {
    color: #B5C5CF;
    font-size: 14px;
    font-weight: 500; }
    @media (max-width: 991px) {
      #footer .copyright {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      #footer .copyright {
        text-align: center; } }
  @media (max-width: 767px) {
    #footer .menu {
      text-align: center;
      margin-top: 40px; } }
  #footer .menu ul {
    list-style-type: none;
    padding: 0; }
    #footer .menu ul li {
      display: inline-block; }
      #footer .menu ul li.active a {
        color: #fff; }
      #footer .menu ul li a {
        color: #ccc;
        padding: 15px 17px;
        font-weight: 500;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -ms-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear; }
        #footer .menu ul li a:hover {
          color: #fff;
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer .menu ul li a {
            padding: 15px 17px 15px 0px; } }
  #footer .social {
    text-align: right; }
    @media (max-width: 767px) {
      #footer .social {
        text-align: center;
        margin-top: 40px; } }
    #footer .social a {
      border: 0;
      text-decoration: none;
      opacity: 1;
      filter: alpha(opacity=100);
      margin-left: 15px;
      position: relative;
      top: -10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease; }
      #footer .social a:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }

#footer-white {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 991px) {
    #footer-white {
      padding-top: 30px; } }
  @media (max-width: 767px) {
    #footer-white .menu {
      text-align: center;
      margin-top: 40px; } }
  #footer-white .menu h3 {
    margin-top: 0;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600; }
  #footer-white .menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
    #footer-white .menu ul li {
      display: block;
      margin-bottom: 9px; }
      #footer-white .menu ul li a {
        color: #89A1C0;
        display: inline-block;
        font-weight: 500;
        font-size: 13px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        #footer-white .menu ul li a:hover {
          color: #000;
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer-white .menu ul li a {
            padding: 0; } }
      #footer-white .menu ul li .hiring {
        font-family: "Lato", "Helvetica Neue", Arial;
        font-weight: 700;
        letter-spacing: .3px;
        text-transform: uppercase;
        word-spacing: 1.5px;
        font-size: 11px;
        margin-left: 4px;
        padding: 3px 8px;
        border-radius: 4px;
        color: #fff;
        background: #49B7E2; }
        #footer-white .menu ul li .hiring:hover {
          color: #fff;
          background: #0E82AF; }
  #footer-white .newsletter {
    text-align: right; }
    @media (max-width: 767px) {
      #footer-white .newsletter {
        text-align: center;
        margin-top: 40px; } }
    #footer-white .newsletter .signup {
      margin-bottom: 40px; }
      #footer-white .newsletter .signup p {
        font-size: 13px;
        color: #666;
        width: 90%;
        float: right;
        text-align: left;
        line-height: 20px; }
        @media (max-width: 767px) {
          #footer-white .newsletter .signup p {
            float: none;
            text-align: center;
            width: 100%; } }
      #footer-white .newsletter .signup form {
        float: right;
        width: 90%;
        position: relative; }
        @media (max-width: 767px) {
          #footer-white .newsletter .signup form {
            float: none;
            width: 100%; } }
        #footer-white .newsletter .signup form input[type="text"] {
          font-size: 13px; }
          #footer-white .newsletter .signup form input[type="text"]::-webkit-input-placeholder {
            font-size: 13px;
            line-height: 17px; }
          #footer-white .newsletter .signup form input[type="text"]:-moz-placeholder {
            font-size: 13px;
            line-height: 17px; }
          #footer-white .newsletter .signup form input[type="text"]::-moz-placeholder {
            font-size: 13px;
            line-height: 17px; }
          #footer-white .newsletter .signup form input[type="text"]:-ms-input-placeholder {
            font-size: 13px;
            line-height: 17px; }
        #footer-white .newsletter .signup form input[type="submit"] {
          border: 0;
          background: #84B0E2;
          color: #FFF;
          border-radius: 3px;
          padding: 6px 10px;
          position: absolute;
          top: 5px;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.28);
          right: 5px;
          font-size: 13px;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          #footer-white .newsletter .signup form input[type="submit"]:hover {
            background: #6284AC; }
    #footer-white .newsletter a {
      border: 0;
      text-decoration: none;
      opacity: 1;
      filter: alpha(opacity=100);
      margin-left: 15px;
      position: relative;
      top: -10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease; }
      #footer-white .newsletter a:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }
  #footer-white .credits {
    margin-top: 30px; }
    #footer-white .credits .col-md-12 {
      padding-top: 20px;
      font-size: 13px;
      text-align: center;
      color: #A1AAB6; }
#signup {
  height: 100%;
  background-attachment: fixed !important;
  background: #5E7A9B;
  background: -webkit-linear-gradient(top, #355069 0, #5e7a9b 100%);
  background: -moz-linear-gradient(top, #355069 0, #5e7a9b 100%);
  background: -o-linear-gradient(top, #355069 0, #5e7a9b 100%);
  background: linear-gradient(top, #355069 0, #5e7a9b 100%);
  -webkit-font-smoothing: antialiased; }
  #signup .header .logo {
    margin-top: 20px;
    text-align: center; }
    #signup .header .logo a {
      color: #fff;
      font-size: 31px;
      font-family: "Lato", "Helvetica Neue", Arial;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      -webkit-transition: color 0.25s linear;
      -moz-transition: color 0.25s linear;
      -ms-transition: color 0.25s linear;
      -o-transition: color 0.25s linear;
      transition: color 0.25s linear; }
      #signup .header .logo a:hover {
        text-decoration: none;
        color: #bbb; }
  #signup .header h4 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
    margin-top: 30px;
    margin-bottom: 5px; }
#signup .header h5 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
    margin-top: 5px;
    margin-bottom: 5px; }
  #signup .header p {
    color: #fff;
    text-align: center; }
  #signup .wrapper {
    margin: 0 auto;
    width: 100%;
    min-width: 590px;
    margin-top: 25px;
    background: #fff;
    padding: 15px 25px 50px;
    border-radius: 5px;
    border-top: 6px solid #6ED5E4; }
    #signup .wrapper .formy {
      margin-top: 22px; }
      #signup .wrapper .formy .form-group label {
        color: #46515F; }
      #signup .wrapper .formy .checkbox label {
        color: #666;
        font-size: 13px; }
      #signup .wrapper .formy .checkbox input {
        position: relative;
        top: -1px; }
      #signup .wrapper .formy .submit {
        text-align: center; }
        #signup .wrapper .formy .submit .button-clear {
          margin-top: 35px;
          display: inline-block; }
        #signup .wrapper .formy .info .good-company strong {
          font-size: 15px;
          font-weight: 500; }
        #signup .wrapper .formy .info .good-company p {
          color: #858585;
          margin-top: 9px; }
        #signup .wrapper .formy .info .testimonial {
          margin-top: 40px; }
          #signup .wrapper .formy .info .testimonial .quote {
            font-style: italic;
            font-size: 13px;
            color: #555;
            line-height: 20px;
            -webkit-font-smoothing: auto; }
          #signup .wrapper .formy .info .testimonial .author {
            margin-top: 20px; }
            #signup .wrapper .formy .info .testimonial .author .pic {
              width: 55px;
              height: 55px;
              border-radius: 50px;
              float: left;
              position: relative;
              top: -6px;
              margin-right: 18px; }
            #signup .wrapper .formy .info .testimonial .author .name {
              color: #3C92C5;
              line-height: 23px;
              font-weight: 500; }
            #signup .wrapper .formy .info .testimonial .author .company {
              font-size: 14px;
              color: #909090;
              line-height: 23px;
              font-weight: 400; }
  #signup .already-account {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    font-size: 13px;
    font-weight: 500; }
    #signup .already-account a {
      color: #fff;
      text-decoration: underline; }
    #signup .already-account .popover-content {
      color: #000;
      font-size: 17px;
      font-weight: 400; }


@-webkit-keyframes fadeInTooltip {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(0px); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(-10px); } }

@-moz-keyframes fadeInTooltip {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(0px); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(-10px); } }

@-o-keyframes fadeInTooltip {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(0px); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(-10px); } }

@keyframes fadeInTooltip {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(0px); }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(-10px); } }

/* marker pulse */
.marker-wrapper {
  position: absolute;
  top: 170px;
  left: 53%; }
  .marker-wrapper .marker-icon {
    position: relative;
    top: 32px;
    left: 32px;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    background: #5A9FFF;
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.39);
    border: 3px solid #FFFFFF; }
  .marker-wrapper .marker {
    position: absolute;
    top: 0px;
    width: 89px;
    height: 89px;
    background-color: #ffffff;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0.8)));
    background: -webkit-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0.8) 100%);
    background: -moz-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0.8) 100%);
    background: -ms-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0.8) 100%);
    background: -o-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0.8) 100%);
    background: radial-gradient(ellipse at center, white 0%, rgba(255, 255, 255, 0.8) 100%);
    border: 3px solid #7fa5da;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 20px rgba(117, 170, 242, 0.5), inset 0 0 10px rgba(117, 170, 242, 0.8);
    -moz-box-shadow: 0 0 20px rgba(117, 170, 242, 0.5), inset 0 0 10px rgba(117, 170, 242, 0.8);
    box-shadow: 0 0 20px rgba(117, 170, 242, 0.5), inset 0 0 10px rgba(117, 170, 242, 0.8);
    color: 0 0 20px rgba(117, 170, 242, 0.5) inset 0 0 10px rgba(117, 170, 242, 0.8);
    -webkit-animation: map 2s infinite linear;
    -moz-animation: map 2s infinite linear;
    -o-animation: map 2s infinite linear;
    -ms-animation: map 2s infinite linear;
    animation: map 2s infinite linear; }

@-webkit-keyframes map {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-moz-keyframes map {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }

@-o-keyframes map {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes map {
  0% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }

#status #update {
  margin-top: 40px;
  margin-bottom: 130px;
  -webkit-font-smoothing: antialiased; }
  #status #update .header {
    text-align: center; }
    #status #update .header h2 {
      font-size: 25px;
      color: #444;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 7px; }
    #status #update .header p {
      font-size: 16px;
      font-weight: 400;
      color: #888; }
  #status #update .current-status {
    background: #F7F8FB;
    border: 1px solid #EAEDF7;
    border-radius: 8px;
    box-shadow: inset rgba(100, 100, 100, 0.25) 0 1px 1px;
    padding: 20px 30px;
    margin: 0 auto;
    margin-top: 35px; }
    #status #update .current-status .updated {
      float: right;
      color: #616A72;
      font-size: 13px; }
      @media (max-width: 767px) {
        #status #update .current-status .updated {
          float: none;
          text-align: center;
          display: block;
          margin-bottom: 20px; } }
    #status #update .current-status .status {
      font-size: 18px;
      font-weight: 500; }
      #status #update .current-status .status .color {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        float: left;
        position: relative;
        top: 5px;
        margin-right: 20px; }
        #status #update .current-status .status .color.green {
          background: #96cb4c;
          border: 1px solid #8BC43D;
          box-shadow: 0px 0px 7px 2px #b3e074, inset 0px 2px 1px -1px rgba(255, 255, 255, 0.8); }
        #status #update .current-status .status .color.yellow {
          background: #F0D775;
          border: 1px solid #E0CC7E;
          box-shadow: 0px 0px 7px 2px #f0d775, inset 0px 2px 1px -1px rgba(255, 255, 255, 0.8); }
        #status #update .current-status .status .color.red {
          background: #F56B65;
          border: 1px solid #FC7D77;
          box-shadow: 0px 0px 7px 2px #ff9b96, inset 0px 2px 1px -1px rgba(255, 255, 255, 0.8); }
    #status #update .current-status .help {
      margin-top: 7px;
      color: #459CE7;
      margin-left: 35px; }
  #status #update .modules {
    margin-top: 40px;
    border-radius: 5px; }
    #status #update .modules > .list-group .list-group-item {
      padding: 13px 15px; }
      #status #update .modules > .list-group .list-group-item:first-child {
        border-top: 0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px; }
      #status #update .modules > .list-group .list-group-item .status {
        float: right;
        color: #459CE7;
        font-size: 13px;
        font-weight: 500; }
        #status #update .modules > .list-group .list-group-item .status.up {
          color: #0F9B0F;
        }
        #status #update .modules > .list-group .list-group-item .status.down {
          color: #D88C1B; }
  #status #update .messages {
    margin-top: 35px; }
    #status #update .messages h3 {
      font-size: 18px;
      color: #444;
      margin-bottom: 25px; }
    #status #update .messages .date {
      margin-bottom: 25px; }
      #status #update .messages .date .day {
        font-size: 13px;
        font-weight: bold;
        color: #454545;
        padding-bottom: 6px;
        margin-bottom: 6px;
        border-bottom: 1px solid #eee; }
      #status #update .messages .date .ok {
        color: #0F9B0F;
        font-size: 13px;
        font-weight: 500; }
      #status #update .messages .date .issues {
        color: #D88C1B;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 18px; }
      #status #update .messages .date .update {
        color: #333;
        font-size: 13px; }
        #status #update .messages .date .update strong {
          font-size: 13px;
          font-weight: bold;
          color: #454545;
          min-width: 93px;
          display: inline-block; }
  #status #update .full-history {
    margin-top: 50px; }

/* Fluidbox styling starts here */
a[data-fluidbox] {
  background-color: #eee;
  border: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  margin-bottom: 1.5rem; }
  a[data-fluidbox].fluidbox-opened {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out; }
  a[data-fluidbox] img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    filter: alpha(opacity=0);
    max-width: 100%;
    transition: all .25s ease-in-out; }

a[class^='float'] {
  margin: 1rem;
  margin-top: 0;
  width: 33.33333%; }
  a[class^='float'].float-left {
    float: left;
    margin-left: 0; }
  a[class^='float'].float-right {
    float: right;
    margin-right: 0; }

#fluidbox-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500; }

.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out; }
  .fluidbox-opened .fluidbox-wrap {
    z-index: 600; }

.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out; }

html.bg {
  /*background: #F9FBFF;*/
  background: #F5F9FF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 100%);
  -webkit-background-size: 100% 30%;
  -moz-background-size: 100% 30%;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-position: 0 100%;
}